/*

    Jessica J. Hernandez
    ID: 0004631401
    May 22, 2015 - Week 3
    Front-end Web Frameworks | 201505-01
    Professor: Crystal Silvestro
    Full Sail University
    
*/

/* _____________________________________ */
/*              MAIN STYLES              */
/* _____________________________________ */

body {
    margin: 0;
    font-family: 'Montserrat', sans-serif;
    background: #212B40;
    position: relative;
}

#container {
    width: 94%;
    padding: 0 3%;
    overflow: auto;
}

#mainContent {
    width: 100%;
    margin: 0, auto;
}

.formSection, .listSection {
    padding: 2.5%;
    float: left;
    margin-bottom: 3%;
    overflow: auto;
}

.formSection {
    width: 38%;
    margin-right: 2%;
    background: #547B97;
}

.listSection {
    width: 50%;
    background: #BADCDD;
}

#outBox {
    width: 43%;
    margin-right: 2%;
    float: left;
    margin-bottom: 3%;
    overflow: auto;
}

#gameFormSection {
    width: 88.4%;
    padding: 5.8%;
    background: #547B97;
    margin-bottom: 5%;
}

#paramBox {
    width: 94%;
    padding: 3%;
    background: #547B97;
    text-align: center;
}

.clear {
    clear: both;
}



/* _____________________________________ */
/*               NAVIGATION              */
/* _____________________________________ */

nav {
    margin: 7% 0 3% 0;
    text-align: center;
}

.navBtn {
    padding: 1.1% 6%;
    background: #FFF6E5;
    color: #FC4349;
    border: none;
    font-weight: bold;
    font-size: 110%;
}

.navBtn:hover {
    background: #FCFCAF;
}

.navBtn:focus, .btn:focus {
    outline: none;
}

a:link, a:hover, a:visited, a:active {
    text-decoration: none;
}



/* _____________________________________ */
/*           HEADINGS & TEXT             */
/* _____________________________________ */

h1 {
    color: #FF7F66;
    padding: 0.4% 2%;
    position: absolute;
    top: 0;
    left: 0;
    background: #1C2436;
    width: 96%;
    margin: 0;
    font-size: 160%;
    text-align: center;
}

h1 a:link, h1 a:visited, h1 a:hover, h1 a:active {
    color: #FF7F66;
    text-decoration: none;
}

h2 {
    margin: 0;
    color: #C2E078;
    font-size: 250%;
    text-transform: uppercase;
    padding-bottom: 10px;
}

h3 {
    margin: 0;
    font-size: 100%;
}

h4 {
    font-size: 150%;
    margin: 2% 0;
    color: #FFFEF1;
}

#paramWord {
    font-size: 230%;
    font-weight: 700;
    margin: 2% 0;
    color: #FCFCD0;
}

footer {
    width: 100%;
    margin: 20px auto;
    text-align: center;
    color: #dbdbdb;
    font-size: 60%;
    line-height: 150%;
    letter-spacing: 1px;
    clear: both;
    padding-top: 5%;
}



/* _____________________________________ */
/*            LISTS & TABLES             */
/* _____________________________________ */

#list {
    width: 76%;
    padding: 4%;
    margin: 4% auto 0 auto;
    background: #FFE0A2;
}

ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

li {
    margin: 0;
    line-height: 1;
    font-size: 105%;
    padding: 2.5% 0 2.5% 30px ;
    position: relative;
}

li span {
    height: 24px;
    display: table-cell;
    vertical-align: middle;
}

li div {
    display: inline-block;
}

table {
    width: 100%;
    margin: 0;
}

th, td {
    width: 25%;
    text-align: center;
}

th, h3 {
    padding: 1.3%;
    background: #547B97;
    color: #fff;
    border-bottom: #212B40 2px solid;
}

td {
    padding: 2% 1%;
}

tr:nth-child(2n -1), li:nth-child(2n) {
    background: #A5CFC9;   
}



/* _____________________________________ */
/*                IMAGES                 */
/* _____________________________________ */

img {
	max-width: 100%;
}

.deleteIcon {
    margin: 0 3%;
}

.deleteIcon:hover {
    cursor: pointer;
    background: url("../images/discard-bg.png");
}

li .deleteIcon {
    position: absolute;
    right: 0;
}




/* _____________________________________ */
/*                 FORMS                 */
/* _____________________________________ */

input[type="text"], input[type="email"] {
    width: 95.6%;
    padding: 2% 2%;
    font-size: 100%;
    border: 1px solid #0C273D;
    margin: 0 0 4% 0;
}

.btn {
    padding: 3% 4%;
    background: #EB654B;
    font-size: 80%;
    font-weight: bold;
    border: none;
    color: #fff;
}

.btn:hover {
    background: #D15A43;
}



/* _____________________________________ */
/*             MEDIA QUERIES             */
/* _____________________________________ */

@media only screen
    and (max-width : 899px) {
     
        .listSection, .formSection {
            width: 94%;
        }
        
        #outBox {
           width: 99%;
        }
        
        #gameFormSection {
            width: 95%;
            padding: 2.5%;
            margin-bottom: 3%;
        }

        #paramBox {
            width: 98%;
            padding: 1%;
        }
        
    }
	
	
@media only screen
	and (max-width : 767px) {
        
        nav {
            margin-top: 9%;
        }
        
        h4 {
            font-size: 160%;   
        }
        
        #paramWord {
            font-size: 210%;   
        }
        
	}


@media only screen
	and (max-width : 580px) {
        
        nav {
            margin-top: 12%; 
        }
        
        h2 {
            font-size: 200%;
            margin-top: 5%;
            text-align: center;
        }
        
    }


@media only screen 
	and (max-width: 414px) {
        
        nav {
            margin-top: 15%;
            font-size: 90%;
        }
        
        table, li {
            font-size: 80%;   
        }
        
        h2 {
            font-size: 150%;   
        }
        
        h4 {
            font-size: 110%;   
        }
        
        #paramWord {
            font-size: 150%;   
        }

	}