<!DOCTYPE html>

<!--
Jessica J. Hernandez
ID: 0004631401
May 8, 2015 - Week 1
Front-end Web Frameworks | 201505-01
Professor: Crystal Silvestro
Full Sail University
-->

<html lang="en">
<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">

    <title>Grocery List Application</title>
    <meta name="author" content="Jessica J. Hernandez">

    <!--  Mobile viewport optimized: j.mp/bplateviewport -->
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <!-- CSS -->
    <link rel="stylesheet" href="css/normalize.css">
    <link rel="stylesheet" href="css/style.css?v=1">

    <!--Favicon-->
    <link rel="icon" type="image/png" href="images/favicon.png">
    
    <!--Google Fonts-->
    <link href='http://fonts.googleapis.com/css?family=Montserrat:400,700' rel='stylesheet' type='text/css'>
    <link href='http://fonts.googleapis.com/css?family=Rock+Salt' rel='stylesheet' type='text/css'>

</head>

<body ng-app="myApp">
    
    <!--START OF THE MAIN CONTENT CONTAINER-->
    <!--CONTROLLER SPECIFIED-->
    <div id="container" ng-controller="GroceryController">

        <h1><a href="index.html">Grocery List</a></h1>
        
        <!--INPUT FIELD SECTION-->
        <div id="inputFieldDiv">
            <form>
                <input type="text" placeholder="Add a Grocery Item" ng-model="itemName" />
                <input type="submit" name="addBtn" id="addBtn" value="Add Item" ng-click="addItem()" />
                <div class="message">{{ msg }}</div>
            </form>
        </div>
        <!--END OF THE INPUT FIELD SECTION-->

        <!--LIST ITEMS SECTION-->
        <div id="list">
            
            <h2>Things to buy ( {{ itemsArray.length }} ):</h2>
                <ul>
                    <!--REPEATING LIST ITEMS USING ANGULARJS-->
                    <li ng-repeat="item in itemsArray"><div><span>&rarr; &nbsp;&nbsp;{{ item }}</span></div><img src="images/discard.png" class="deleteIcon" ng-click="deleteItem(item)" /></li>
                </ul>
        </div>
        <!--END OF THE LIST ITEMS SECTION-->
        
    </div>
    <!--END OF THE MAIN CONTENT CONTAINER-->
    
    <!--START OF FOOTER TEXT-->
    <footer><p>&copy; 2015 Jessica J. Hernandez - Student at Full Sail University<br>
        Front-end Web Frameworks Course | WDD372-O 201505-01<br>
        Week 1 Assignment - Grocery List AngularJS Application</p></footer>
    
    
    <!-- JAVASCRIPT FILES -->
    <script type="text/javascript" src="js/angular.js"></script>
    <script type="text/javascript" src="js/main.js"></script>
    <script type="text/javascript" src="js/dataService.js"></script>

</body>
</html>