body {
    margin: 0;
    padding: 0;
    background: #222;
    font-family: 'Hind', sans-serif;
}

h1 {
    color: #EBE37E;
    text-align: center;
    font-weight: 700;
    text-transform: uppercase;
    margin: 40px 0;
    font-size: 300%;
}

.photosSection, .heading {
    width: 95%;
    margin: 0 auto;
}

.thumbnail {
    margin-bottom: 45px;
}

#information {
    width: 70%;
    margin: 130px auto;
    color: #fff;
    text-align: center;
}

#information img {
    margin-bottom: 50px;
    padding: 5%;
    background: #666;
}

#information p {
    font-size: 150%;
}
